@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
    background-color: #1f1f1f;
        /* color: #ffffff; */
  }
  :root {
    --color-lightOliv : rgb(114, 193, 3);
    --color-DarkOlive: rgb(77, 124, 15);
    --color-OliveDrab: rgb(131, 197, 190);
    --color-PrimaryBlack: rgb(0, 0, 0);
    --color-border-color: oklch(90% .076 70.697 / 0.1);
  }